<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <context-param>
        <param-name>name</param-name>
        <param-value>Mihai</param-value>
    </context-param>

    <context-param>
        <param-name>phone</param-name>
        <param-value>Samsung</param-value>
    </context-param>

    <servlet>
        <servlet-name>configServlet</servlet-name>
        <servlet-class>ro.stancumihai.ConfigServlet</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>Stancu</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>configServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>


<!--    <servlet>-->
<!--        <servlet-name>addServlet</servlet-name>-->
<!--        <servlet-class>ro.stancumihai.AddServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>addServlet</servlet-name>-->
<!--        <url-pattern>/add</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>squareServlet</servlet-name>-->
<!--        <servlet-class>ro.stancumihai.SquareServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>squareServlet</servlet-name>-->
<!--        <url-pattern>/square</url-pattern>-->
<!--    </servlet-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>multiplyServlet</servlet-name>-->
<!--        <servlet-class>ro.stancumihai.MultiplyServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>multiplyServlet</servlet-name>-->
<!--        <url-pattern>/multiply</url-pattern>-->
<!--    </servlet-mapping>-->

</web-app>